
/*FIXME: blog */

.blog-container{
    padding-top: 80px;
    width: 1200px;
    margin: 0 auto;
    left: 20px;
    right: 20px;
    padding-bottom: 5%;
    position: relative;
    height: 6000px;
}

.blog-tittle{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
    color: rgb(66, 66, 66);
    font-size: 50px;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}

.blog-sidebar-box{
    margin-top: 40px;
    width: 300px;
    height: 400px;
    float: right;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-sidebar-tittle{
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 30px;
}

.sidebar-link{
    text-decoration: none;
    line-height: 20px;
    font-weight: lighter;
    color: grey;
}

.sidebar-link:hover{
    color: coral;
}

.article-box{
    padding-top: 80px;
    width: 90%;
    height: auto;
    margin-left: 70px;
}

.article-section-box{
    padding-top: 30px;
    width: 800px;
    height: auto;
    margin-top: 20px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid rgb(194, 192, 192);
    padding-bottom: 50px;
}

.image-frame{
    width: 800px;
}

.blog-section-tittle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

.blog-section-text{
    color: rgb(116, 116, 116);
    font-weight: lighter;
}

.blog-section-text-highlight{
    font-weight: bold;
}

.read-more-option{
    color: rgb(209, 100, 10);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    float: inline-end;
}

.read-more-option:hover{
    color: rgb(78, 77, 77);
}

@media screen and (max-width: 600px){
   .blog-container{
       width: 100%;
       left: 0;
       right: 0;
       margin: 0 auto;
       height: 4400px;
   }
   .blog-tittle{
       margin-left: 3%;
   }
   .article-section-box{
       width: 90%;
       margin-left: 5%;
       margin-right: 5%;
   }
    .image-frame{
       width: 100%;
   }
}
