/* slideshow */

.slideshow-container{
    margin: auto;
    position: relative;
    max-width: 100%;
    display: block;
    padding-top: 60px;
 }

.slide-img{
    width: 100%;
    height: 600px;
    filter: brightness(70%);
}

.slides{
    display: none;
    position: relative; 
    z-index: 250;
}

 .prev-nextBar{
    position: absolute;
    bottom: 60px;
    left: 50px;
    height: 8%; 
    z-index: 320;
} 

.prev,.next{
    cursor: pointer;
    width: 22px;
    padding: 18px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    transition: 0.5s linear;
    user-select: none;
    border: 1px solid snow;
    border-radius: 3px;
}

.next{
    margin-left: -5px;
}

.prev:hover,.next:hover{
    height: auto;
    background-color: sandybrown;
}

.group-dot{
    position: absolute;
    bottom: 20px;
    left: 46%;
    z-index: 320;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-left: 3px;
    background-color: rgba(128, 128, 128, 0.849);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    top: 80%;
}

.slideActive{
    display: block;
}

.dot:hover,.dotActive{
    background-color: sandybrown;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.message-box-container{
    width: 100%;
}

.messageBox{
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    right: 4%;
}

.verticalMove{
    font-size: 15px;
    padding: 8px;
    width: 100%;
    -webkit-animation-name: verticalMove;
    -webkit-animation-duration: 1.5s;
    animation-name: verticalMove;
    animation-duration: 1.5s;
    position: absolute;
}

@-webkit-keyframes verticalMove{
    from{transform: translateY(30%);}
    to{transform: translateY(0%);}
}

@keyframes verticalMove{
    from{transform: translateY(30%);}
    to{transform: translateY(0%);}
}


.slideCaption{
    color: snow;
    font-size: 3.25rem;
    font-weight: lighter;
    font-family: "Times New Roman", Times, serif;
}

.contactBtn{
    padding: 0.46em 1.6em;
    border: 0.1em solid white;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:rgba(0, 0, 0, 0);
    transition: all 0.15s;
    width: 200px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 80% 25%;
}

.contactBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: white;
    border: 0.1em solid white;
    background-color: sandybrown;
}

/*about us*/

.about-us-text{
    padding-top: 1%;
    font-weight: lighter;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 3%;
    padding-right: 3%;
}

.about-us-row{
    /* background-color: blueviolet; */
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgb(194, 192, 192);
}

.about-us-column{
    float: left;
    width: 30%;
    /* background-color: brown; */
    margin-left: 2%;
}

.about-us-row::after{
    content: "";
    display: table;
    clear: both;
}

.about-us-section-tittle{
    /* background-color: chartreuse; */
    padding-top: 4%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.column-text{
    padding-top: 4%;
    color: rgb(112, 112, 112);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}


/* service section  */

.service-box{
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top: 20px;
}

.service-banner-box{
    width: 100%;
    height: 90%;
    filter: brightness(30%);
    border-radius: 3px;
    padding-top: 8%;
}

.service-row{
    /* background-color: blueviolet; */
    width: 100%;
    height: 800px;
    position: absolute;
    top: 35%;
    overflow: hidden;
}

.service-column{
    float: left;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.63);
    border: 2px solid black;
    text-decoration: none;
    margin-left: 6%;
    margin-top: 3%;
}

.service-row::after{
    content: "";
    display: table;
    clear: both;
}
.service-image-box{
    padding: 5% 37%;
    width: 30%;
}

.service-tittle{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: white;
}

.upAndDown{
    -webkit-animation-name: upAndDown;
    -webkit-animation-duration: 1.5s;
    animation-name: upAndDown;
    animation-duration: 1.5s;
}

@-webkit-keyframes upAndDown{
    0%,100%{transform: translateY(0px);}
    50%{transform: translateY(-30px);}
}

@keyframes upAndDown{
    0%,100%{transform: translateY(0px);}
    50%{transform: translateY(-30px);}
}

/* blog section */
.blog-group{
    width: 100%;
    margin-top: 600px;
    padding-bottom: 200px;
}

.blog-row{
    width: 90%;
    /* background-color: blueviolet; */
    padding-top: 20px;  
    margin-left: 3%;
}

.blog-row::after{
    content: "";
    display: table;
    clear: both;
}

.blog-column{
    float: left;
    width: 25%;
    /* background-color: cornflowerblue; */
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid rgb(194, 192, 192);
    margin-left: 7%;
    padding-bottom: 3%;
}

.blog-column:nth-child(5){
    margin-top: -13%;
}

.image-frame{
    width: 100%;
}

.image-frame:hover{
    opacity: .4;
}

.blog-section-tittle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

.blog-section-text{
    color: rgb(78, 77, 77);
    width: 100%;
}

.blog-section-text-highlight{
    font-weight: bold;
    width: 100%;
}

.read-more-option{
    color: rgb(209, 100, 10);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    float: inline-end;
    margin-top: 25px;
}

.read-more-option:hover{
    color: rgb(78, 77, 77);
}

/*responsive website*/
@media screen and (max-width: 600px){
    .body-tittle{
        width: 100%;
        margin-top: 10%;
    }
    .inner-body-tittle{
        width: 100%;
    }
    .slide-img{
        width: 100%;
        height: 400px;
    }
    .messageBox{
        width: 30%;
        height: 40%;
        margin-bottom: 50px;
    }
    .slideCaption{
        font-size: 20px;
    }
    .contactBtn{
        width: 79px;
        height: 30px;
        font-size: 8px;
        margin: 100px 20px;
    }
    .about-us-column {
      width: 100%;
    }
    .service-column {
        width: 90%;
        margin-left: 5%;
        font-size: 15px;
    }
    .service-image-box{
        width: 30%;
    }
    .service-tittle{
        width: 100%;
    }
    .service-banner-box{
        height: 900px;
    }
    .blog-group{
        height: 3700px;
        margin-top: 900px;
    }
    .blog-row{
        margin-left: 20px;
    }
    .blog-column{
        width: 100%;
        margin-left: 0;
        padding-bottom: 20px;
        padding-top: 30px;
        font-size: 15px;
    }
    .blog-column:nth-child(5){
        margin-top: 1%;
    }
  }