body{
    background-color: rgb(243, 241, 241);
}

/*product items*/
.product-container{
    width: 1350px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
    left: 5px;
    padding-top: 7%;
    background-color: rgb(243, 241, 241);
}

.product-box{
    width: 90%;
    height: auto;
    margin-left: 70px;
    position: absolute;
    /* background-color: cornflowerblue; */
}

.product-sidebar{
    background-color: white;
    width: 25%;
    height: 300px;
    display: block;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
    float: left;
}

.grid-container{
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: 270px 270px 270px;
    background-color: white;
    padding: 0.1px;
    grid-column-gap: 5px; 
    grid-row-gap: 5px;
    float: right;
    border: 1px solid rgb(185, 183, 183);
    padding: 50px 50px 50px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 12px -6px black;
    /* background-color: darkgreen; */
}

.grid-item{
    padding: 20px;
    font-size: 30px;
    width: 200px;
    height: 350px;
    text-decoration: none;
    /* background-color: blue; */
}

.grid-item:hover{
    box-shadow: 0 4px 12px -6px black;
}

.grid-item-image{
    width: 200px;
    height: 200px;
}

.grid-item-text{
    color: black;
    font-size: 25px;
    /* background-color: aqua; */
    height: 30%;
}

.grid-item-price{
    color: coral;
    font-size: 25px;
    text-align: end;
    /* background-color: darkmagenta; */
}

.product-sidebar-tittle{
    text-transform: uppercase;
    text-align: center;
    width: 90%;
    margin: auto;
    left: 5%;
}

.product-sidebar-text{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    line-height: 30px;
}

.product-sidebar-text:hover{
    color: rgb(38, 187, 38);
}

.product-sidebar-text-active{
    color: coral;
    text-decoration: underline;
}

@media screen and (max-width: 600px){
    .product-container{
        width: 100%;
        left: 0;
        height: 800px;
    }
    .product-box{
        margin: 60px 5%;
    }
    .grid-container{
        width: 70%;
        padding: 5px 5px 5px 5px;
        grid-template-columns: 75px 75px 75px;
    }
    .product-sidebar-tittle{
        font-size: 13px;
    }
    .product-sidebar-text{
        font-size: 10px;
        margin-left: 10px;
    }
    .grid-item{
        width: 75px;
        height: 200px;
        padding: 0;
    }
    .grid-item-image{
        width: 50px;
        height: 100px;
        margin: 10px 13px;
    }
    .grid-item-text{
        font-size: 10px;
        height: 25%;
        margin-left: 5px;
    }
    .grid-item-price{
        font-size: 10px;
        margin-right: 5px;
    }
}
