
.service-container{
    padding-top: 90px;
    width: 1200px;
    margin: 0 auto;
    left: 20px;
    right: 20px;
    padding-bottom: 5%;
    position: relative;
    height: auto;
}

.service-tittle{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
    color: rgb(66, 66, 66);
    font-size: 50px;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}

.service-sidebar-box{
    width: 300px;
    height: 300px;
    padding-left: 20px;
    position: sticky;
    float: right;
    top: 60%;
    padding-top: 100px;
    transform: translateY(-35%);
}

.service-sidebar-tittle{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 50px;
    color: grey;
    padding-left: 3%;
}

.service-sidebar-tittle:hover{
    color: coral;
}

.service-sidebar-tittle-active{
    border-left: 3px solid coral;
    color: coral;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 50px;
    padding-left: 3%;
}

.service-box{
    padding-top: 140px;
    width: 90%;
    height: auto;
    margin-left: 70px;
}

.service-section-box{
    padding-top: 70px;
    width: 800px;
    height: auto;
    margin-top: 20px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid rgb(194, 192, 192);
    padding-bottom: 50px;
}

.image-frame{
    width: 800px;
}

.service-section-tittle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
}

.service-section-text{
    color: rgb(70, 69, 69);
    font-weight: lighter;
}

.service-section-text-highlight{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 600px){
   .service-container{
       width: 100%;
       left: 0;
       right: 0;
       margin: 0 auto;
       height: auto;
   }
   .service-tittle{
       margin-left: 3%;
   }
   .service-sidebar-tittle-active{
       color: gray;
       border-left: none;
   }
   .service-sidebar-box{
       width: 80%;
       position: relative;
       float: none;
       margin: 20% 7%;
       padding-top: 0;
   }
   .service-section-box{
       width: 90%;
       margin-left: 5%;
       margin-right: 5%;
   }
    .image-frame{
       width: 100%;
   }
}
