html{
    scroll-behavior: smooth;
}

body{
    font-weight: 300;
    background-color: white;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    background-color: whitesmoke;
}

@media screen and (max-width: 600px) {
    body,html,main,footer,.container {
      width: 100%;
    }
  }

main{
    width: 100%;
}

.body-tittle{
    padding-top: 70px;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    color: black;
    margin: auto;
    width: 20%;    
}   

.body-tittle::after{
    content: "";
    display: block;
    border-bottom: 3px solid sandybrown;
    width: 20%;
    margin: 3% auto;
}

.inner-body-tittle{
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin: auto;
    width: 20%;    
    font-size: 25px;
}

.inner-body-tittle:after{
    content: "";
    display: block;
    border-bottom: 3px solid sandybrown;
    width: 20%;
    margin: 3% auto;
}

/* navigation bar-header */

header{
    background-color: white;
    box-shadow: 0 4px 12px -6px black;
    width: 100%; 
    position: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 400;
    margin: 0;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.logo{
    float: left;
    margin-left: 10%;
    padding-top: 3px;
    width: 5%;
}

nav{
    display: inline-flex;
    width: 80%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;
    margin-left: 10%;
}

nav li{
    display: inline-block;
    padding-top: 2%;
    position: relative;
    margin-left: 8%;
}

nav a{
    color: rgba(3, 2, 2, 0.774);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

nav a:hover{
    color: sandybrown;
    text-decoration: underline;
}

nav a::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: sandybrown;
    position: absolute;
    top: 0;
    width: 0%;
}

nav a:hover::before{
    width: 100%;
}

.navActive{
    color: sandybrown;
    text-decoration: underline;
}

nav ul li ul{
    background-color: rgba(255, 255, 255, 0.822);
    position: absolute;
    margin-left: -40px;
    width: 150px;
    height: auto;
    display: none;
    -webkit-animation-name: dropdown-hover;
    -webkit-animation-duration: 1.5s;
    animation-name: dropdown-hover;
    animation-duration: 1.5s;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul a{
    display: block;
    padding-top: 20px;
}

.dropdown-item-tittle{
    font-size: 15px;
    text-align: center;
}

.dropdown-item-tittle:hover::before{
    width: 0%;
}

@-webkit-keyframes dropdown-hover{
    from {opacity: .4;}
    to {opacity: 1}
}

@keyframes dropdown-hover{
    from {opacity: .4}
    to {opacity: 1}
}

.drop-down-icon{
    width: 10px;
    height: 10px;
}

/*footer*/

footer{
    text-align: center;
    width: 100%;
    position: absolute;
    background-color: rgb(49, 49, 49);
}

.contact-group{
    width: 100%;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.746);
}

.contact-section{
    width: 100%;
}

.icon-section{
    padding: 0 3%;
    opacity: 1;
}

.icon-section:hover{
    opacity: 0.5;
}

.icon-image{
    margin-top: 2%;
    width: 3%;
    height: 3%;
}

.copy-right{
    color: black;
    text-align: center;
}

.icon{
    font-size: 15px;
    display: none;
}

@media screen and (max-width: 600px){
    header{
        height: auto;
    }
    nav{
        padding-top: 50px;
        display: none;
        padding-bottom: 10px;
    }

    nav li{
        text-align: center;
        right: 15%;
    }
    nav a{
        text-align: center;
    }
    nav ul li{
        width: 100%;
        height: 20px;
    }
    nav ul li:nth-child(3){
        height: 70px;
    }
    nav li{
        float: none;
        display: block;
    }
    nav ul li ul{
        float: none;
        display: block;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    nav ul li ul a{
        padding-top: 5px;
        width: 90%;
        margin-left: 5%;
    }
   .logo{
       width: 45px;
       height: 57px;
   }
   .icon-container{
        float: right;
        margin-right: 25px;
        padding-top: 13px;
        position: relative;
   }
   .icon{
       display: block;
       width: 30px;
       height: 35px;
   }
}