
main{
    padding: 0;
}

.form-container{
    width: 100%;
    height: auto;
}

.contact-image{
    width: 100%;
    height: auto;
    filter: brightness(20%);
    margin-top: 50px;
}

.inner-body-tittle{
    position: absolute;
    bottom: 75%;
    margin: 0 40%;
    
}

.form-group-box{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 30%;
    left: 10%;
}

.form-box{
    width: 50%;
    height: 90%;
    float: right;
}

.form-box:nth-child(2){
    float: left;
}

.form-box-tittle{
    font-size: 30px;
    color: white;
    margin: 2%;
}

.form-section{
    width: 100%;
}

.form-control{
    border:1px solid #ccc;
    height: 10%;
    width:40%;
    border-radius: 3px;
    box-shadow: 4px 4px 4px -5px black;
    background-color: rgba(61, 61, 61, 0.842);
    text-indent: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 2% 2%;
}

.form-control:focus{
    color: black;
    background-color: white;
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control:nth-child(7){
    resize: none;
    width: 85%;
    height: 30%;
}

.contact-text-group{
    width: 50%;
    float: left;
}

.contact-text{
    color: white;
    font-size: 20px;
    margin: 2%;
}

.icon-image{
    width: 20px;
    height: 20px;
}

.map-section{
    float: right;
    width: 50%;
    height: 50%;
}

.submitFormBtn{
    text-align: center;
    text-transform: uppercase;
    border: 0.1em solid white;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:rgba(0, 0, 0, 0);
    transition: all 0.15s;
    width: 30%;
    height: 10%;
    font-weight: bold;
    float: right;
    margin-right: 40%;
}

.submitFormBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: white;
    border: 0.1em solid white;
    background-color: rgba(214, 68, 15, 0.76);
}
