body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    background-color: whitesmoke;
    width: 100%;
}

/* @media (max-width: 600px) {
    nav, section {
      width: 100%;
      height: auto;
    }
  } */

/* navigation bar */
header{
    background-color: white;
    box-shadow: 0 4px 12px -6px black;
    width: 100%;    
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    float: inline-start;
    margin-left: 0;
    padding-top: 3px;
    width: 6%;
}

nav{
    float: 200px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 120px;
    padding-top: 20px;
    position: relative;
}

nav a{
    color: rgba(3, 2, 2, 0.774);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: rgb(219, 78, 13);
    text-decoration: underline;
}

nav a::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(219, 78, 13);
    position: absolute;
    top: 0;
    width: 0%;
}

nav a:hover::before{
    width: 100%;
}

.navActive{
    color: rgb(219, 78, 13);
    text-decoration: underline;
}

/* slideshow */
.slideshow-container{
    margin: auto;
    position: relative;
    max-width: 100%;
    display: block;
}

.slide-img{
    width: 100%;
    height: 600px;
    filter: brightness(70%);
}

.slides{
    display: none;
}

.prev-nextBar{
    position: absolute;
    bottom: 60px;
    left: 50px;
    height: 8%;
}
.prev,.next{
    cursor: pointer;
    width: 22px;
    padding: 18px;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    transition: 0.5s linear;
    user-select: none;
    border: 1px solid snow;
    border-radius: 3px;
}

.next{
    margin-left: -4px;
}

.prev:hover,.next:hover{
    height: auto;
    background-color: rgb(236, 81, 25);
}

.group-dot{
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-left: 3px;
    background-color: rgba(128, 128, 128, 0.849);
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    top: 80%;
}

.slideActive{
    display: block;
}

.dot:hover,.dotActive{
    background-color: rgb(236, 81, 25);
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

.messageBox{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 930px;
    background-color: rgba(0, 0, 0, 0.418);
    top: 80px;
    border-radius: 10px;
}

.verticalMove{
    font-size: 15px;
    padding: 8px;
    width: 100%;
    -webkit-animation-name: verticalMove;
    -webkit-animation-duration: 1.5s;
    animation-name: verticalMove;
    animation-duration: 1.5s;
    position: absolute;
}

@-webkit-keyframes verticalMove{
    from{transform: translateY(30%);}
    to{transform: translateY(0%);}
}

@keyframes verticalMove{
    from{transform: translateY(30%);}
    to{transform: translateY(0%);}
}


.slideCaption{
    color: snow;
    font-size: 3.25rem;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

.signUpBtn{
    display:inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid white;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:rgba(0, 0, 0, 0);
    transition: all 0.15s;
    width: 30%;
    height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 350px;
    left: 140px;
}

.signUpBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: white;
    border: 0.1em solid white;
    background-color: rgba(214, 68, 15, 0.76);
}

/* sign up form */

.form-container{
    position: relative;
    width: 100%;
    height: 585px;
    display: block;
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/ce/ff/d4/ceffd4a32ae297ea637cb6bdb51ddc10.png);
}

.stageTittleBox{
    width: 500px;
    margin: 10px 30%;
    position: absolute;
}

li{
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.stageBtn{
    border-radius: 10%;
    background-color: rgb(236, 81, 25);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block;
    border: 0.1em solid white;
    height: 30px; 
}

.stageBtn:hover{
    background-color: rgb(71, 169, 194);
}

.form-box{
    background-color: rgba(0, 0, 0, 0.418);
    width: 450px;
    height: 480px;
    margin: 90px 31.5%;
    position: absolute;
    border-radius: 5px;
}

.form-tittle{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: x-large;
    margin: 10px;
}

.form-instruction{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: medium;
    margin: 10px;
}

.form-control{
    padding:8px;
    display:block;
    border:1px solid #ccc;
    height: 10%;
    width:50%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px -5px black;
    margin: 10px 100px;
}

.form-control:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#gender{
    height: 15%;
    width:54%;
}

b{
    text-transform: uppercase;
    position: absolute;
    margin: 16px 20px;
    color: white;
}

.submitFormBtn{
    top: 420px;
    left: 150px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    display:inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid white;
    margin:0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:rgba(0, 0, 0, 0);
    transition: all 0.15s;
    width: 30%;
    height: 40px;
    font-weight: bold;
}

.submitFormBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: white;
    border: 0.1em solid white;
    background-color: rgba(214, 68, 15, 0.76);
}

.form-section{
    width: 500px;
    height: 250px;
    margin: 0;
    position: absolute;
    font-size: large;
    font-weight: 100px;
    display: none;
}

.form-section:first-of-type{
    display: inline;
}

.radioBox{
    margin-left: 70%;
    text-transform: uppercase;
    color: white;
}

input[type = "radio"]{
    margin: 15px 10px;
}

/* about us  */
.aboutUs-tittle{
    text-transform: uppercase;
    text-align: center;
    /* border-bottom: 3px solid rgb(236, 81, 25); */
}

.aboutUs-tittle::after{
    content: "";  
    display: block; 
    margin: 0 auto;
    width: 5%; 
    padding-top: 10px; 
    border-bottom: 3px solid rgb(236, 81, 25); 
}

.about-us-box{
    background-color: green;
    width: 100%;
    height: 500px;
}

.personBox{
    background-color: indigo;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px 73px;
    display: block;
    float: left;
}

.person-image-box{
    background-color: tomato;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px 100px;
}








